:root {
    --caput: #4F3130;
    --wine: #753742;
    --redwood: #AA5042;
    --ecru: #D8BD8A;
    --flax: #D8D78F;
    --charcoal: #424B54;
    --rosy: #B38D97;
    --tea: #D5ACA9;
    --desert: #EBCFB2;
    --silver: #C5BAAF;
  }